# N'EXCLUEZ PAS docker-entrypoint.sh — il est copié dans l'image !
# Seulement ce qui est inutile dans le contexte de build :

# Dépendances (re-générées dans le Dockerfile)
vendor/
node_modules/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.sublime-*

# Logs
*.log

# Env
.env
