# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Dépendances
vendor/
node_modules/

# Uploads (volumes docker)
uploads/photos/*
!uploads/photos/.gitkeep

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.sublime-*

# Logs
*.log

# Env
.env
